IndentAccessModifiers: true
AccessModifierOffset: 0
BasedOnStyle: Google
ColumnLimit: 140
IndentWidth: 4
NamespaceIndentation: All
TabWidth: 4
UseTab: Never
AllowAllArgumentsOnNextLine: false
PackConstructorInitializers: NextLineOnly
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SortIncludes: false
PointerAlignment: Right
ReferenceAlignment: Right
ReflowComments: false
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false